[package]
name = "lsm303agr"
version = "0.2.0" # remember to update html_root_url
authors = ["Diego Barrios Romero <eldruin@gmail.com>"]
repository = "https://github.com/eldruin/lsm303agr-rs"
license = "MIT OR Apache-2.0"
description = "Platform-agnostic Rust driver for the LSM303AGR ultra-compact high-performance eCompass module: ultra-low-power 3D accelerometer and 3D magnetometer."
readme = "README.md"
keywords = ["accelerometer", "magnetometer", "mems", "embedded-hal-driver"]
categories = ["embedded", "hardware-support", "no-std"]
homepage = "https://github.com/eldruin/lsm303agr-rs"
documentation = "https://docs.rs/lsm303agr"
edition = "2018"

[dependencies]
embedded-hal = "0.2.5"
nb = "1"

[dev-dependencies]
linux-embedded-hal = "0.3"
embedded-hal-mock = "0.8"

[profile.release]
lto = true
